* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

:root {
    --darkpurple : #574b90;
    --lightpurple: #c56cf0;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.start-screen {
    justify-content: center;
    align-items: center;
}

.wrapper, .hs-wrapper  {
    max-width: 33%;
    justify-content: center;
    text-align: center;
    margin: 200px auto;
}

#choices {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
}
